.nav-link{
    margin: 0 0.3rem!important;
    color: black!important;
    font-weight: 500;
    font-size: 1.1rem;
}
.btn{
    font-size: 1.1rem;
}
.nav-link:hover{
    background-color: white;
    border-radius: 24px;
}
.logo{
    width: 25%;
}




@media screen and (max-width: 768px){
    .logo{
        width: 30%;
    }
}
@media screen and (max-width: 576px){
    .logo{
        width: 38%;
    }
}
@media screen and (max-width: 450px){
    .logo{
        width: 45%;
    }
}
